{# One full turn: user bubble, optional inline cards, persona reply #}
<div class="msg msg-user">{{ user_text }}</div>

{% for card in cards %}
  {% if card.type == "fill_blank" %}
    {% include "partials/fill_blank_card.html" %}
  {% elif card.type == "mcq" %}
    {% include "partials/mcq_card.html" %}
  {% elif card.type == "flashcard_set" %}
    {% include "partials/flashcard_set.html" %}
  {% elif card.type == "grammar_note" %}
    {% include "partials/grammar_note.html" %}
  {% elif card.type == "quiz_set" %}
    {% include "partials/quiz_set.html" %}
  {% elif card.type == "placement" %}
    {% include "partials/placement.html" %}
  {% endif %}
{% endfor %}

{% if persona_text %}
  {% include "partials/persona_msg.html" %}
{% endif %}
